* {
  margin: 0px;
  padding: 0px;
}
a {
  color: inherit;
  text-decoration: inherit;
  display: block;
}
ul {
  list-style: none;
}
body {
  background-image: linear-gradient(#e0e8ff, #ffffff);
  background-repeat: no-repeat;
  font-size: 16px;
  overflow-x: hidden;
  font-family: "ChangwonDangamRounded";
}
html {
  overflow-x: hidden;
}
@font-face {
  font-family: "ChangwonDangamRounded";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/ChangwonDangamRound-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}
@media (max-width: 767px) {
  /*visual*/
  #visual {
    width: 100%;
    height: 100vh;
  }
  #visual ul {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 50px auto;
  }
  #visual ul li div {
    /* border: 1px solid red; */
    width: 70%;
    height: 100px;
    /* opacity: 0.5; */
    animation: cloud 1.5s ease infinite;
  }
  @keyframes cloud {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-8%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  #visual ul li div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
  }
  #visual .portfolio {
    background-color: rgba(255, 255, 255, 0.5);
    width: 70%;
    margin: 50px auto;
    height: 50%;
    border-radius: 100px 0px 100px 0px;
    color: #7d8eff;
    text-align: center;
    transform: scale(0);
  }
  #visual .portfolio h2 {
    font-size: 20px;
    font-weight: 540;
    letter-spacing: 10px;
    margin-bottom: 10px;
    padding-top: 50px;
  }
  #visual .portfolio p {
    font-size: 12px;
    font-weight: 550;
  }
  #visual .mainme {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translateX(-50%);
    /* border: 1px solid red; */
    width: 60%;
    height: 500px;
    transform: scale(0);
  }
  #visual .mainme img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  /*container*/
  /*container1
  self*/
  .self {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: relative;
  }
  .self .profil {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .self .profil .left {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
  .self .profil .left .me {
    /* border: 1px solid red; */
    width: 65%;
    height: 250px;
    margin-top: 50px;
  }
  .self .profil .left .me img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .self .profil .left .text {
    background-color: #ccd8ff;
    width: 70%;
    height: 30%;
    border-radius: 50px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    /* padding-left: 30px; */
    font-size: 10px;
  }
  .self .profil .left .text h2 {
    font-size: 15px;
    margin-bottom: 30px;
    color: #5d72ff;
  }
  .self .profil .left .text span {
    color: #9eb2f6;
    font-size: 15px;
  }
  .self .profil .left .text p {
    /* font-size: 1.5rem; */
    margin: 5px 0px;
  }
  .self .profil .right {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
  }
  .self .profil .right p {
    /* font-size: 1.2rem; */
    margin: 30px 0px;
    font-size: 10px;
  }
  .self .profil .right span {
    font-size: 15px;
    color: #5d72ff;
  }
  .self .profil .right .skil {
    font-size: 15px;
    color: #5d72ff;
    margin: 30px 0px;
    /* border: 1px solid red; */
    height: 45%;
  }
  .self .profil .right ul {
    width: 50%;
    display: flex;
    height: 20%;
    margin: 30px 0px;
    /* gap: 20px; */
    /* border: 1px solid red; */
  }
  .self .profil .right ul li {
    width: calc(100% / 3);
    height: 100%;
  }
  .self .profil .right ul li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .self .mainme {
    width: 35%;
    height: 400px;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  .self .mainme img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .self .cloud {
    width: 10%;
    height: 100px;
    position: absolute;
    animation: cloud 1.5s ease infinite;
  }
  .self .cloud1 {
    top: 10px;
    left: 10px;
  }
  .self .cloud2 {
    top: 45%;
    right: 10%;
  }
  .self .cloud3 {
    top: 50%;
    left: 40%;
    transform: translateY(-50%);
  }
  .self .cloud img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .self .line {
    width: 38%;
    height: 3px;
    background-color: #ccd8ff;
    position: absolute;
    top: 57%;
    left: 0px;
  }
  #container .self .leftwhitebox {
    width: 50%;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  #container .self .rightwhitebox {
    width: 50%;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 3;
  }
  /*container2
  coding*/
  .coding {
    background-image: url(../img/홈페이지\ 소개\ 배경.png);
    /* background-repeat: no-repeat repeat; */
    background-size: cover;
    width: 100%;
    color: #4459e5;
    position: relative;
    text-align: left;
  }
  .coding .clinic {
    display: flex;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 80%;
    height: 700px;
    margin: 100px auto;
    border-radius: 50px 0px 50px 0px;
    align-items: center;
    position: sticky;
    top: 0px;
  }
  .coding .intro {
    width: 45%;
    height: 400px;
    display: flex;
  }
  .coding .intro img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .coding .desc {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    /* text-align: center; */
  }
  .coding .desc h2 {
    font-size: 15px;
    margin: 0px 0px;
    color: #374182;
  }
  .coding .desc p {
    font-size: 10px;
    color: #000;
    margin-bottom: 50px;
  }
  .coding .plan {
    font-size: 10px;
  }
  .coding .downtext ul {
    display: flex;
    gap: 10px;
    justify-content: right;
    color: #000;
    font-size: 10px;
  }
  .coding .downtext ul li {
    width: 60%;
    height: 60px;
  }
  .coding .downtext ul li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .coding .downtext .click {
    display: flex;
    gap: 20px;
    justify-content: right;
    margin-top: 50px;
    align-items: center;
  }
  .coding .downtext .click .page {
    color: #000;
    background-color: #ccd8ff;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
  }
  .coding .downtext .click .right p {
    margin-bottom: 20px;
  }
  .coding .downtext .click .right .plan {
    color: #000;
    background-color: #ccd8ff;
    padding: 7px;
    border-radius: 10px;
  }
  /* .coding .desc a {
    display: block;
  } */
  .coding .trip {
    display: flex;
    gap: 20px;
    background-color: rgba(255, 255, 255);
    width: 80%;
    height: 700px;
    margin: 50px auto;
    border-radius: 50px 0px 50px 0px;
    align-items: center;
    position: sticky;
    top: 0px;
  }
  .coding .jpuppet {
    display: flex;
    gap: 20px;
    background-color: #e5ebff;
    width: 80%;
    height: 700px;
    margin: 50px auto;
    border-radius: 50px 0px 50px 0px;
    align-items: center;
    position: sticky;
    top: 0px;
  }
  .coding a {
    display: block;
    width: fit-content;
    margin: 0 auto;
  }
  .coding .cloud1 {
    width: 10%;
    height: 100px;
    position: absolute;
    top: 0px;
    /* opacity: 0.5; */
    animation: cloud 1.5s ease infinite;
  }

  .coding .cloud1 img {
    width: 100%;
    height: 100px;
    object-fit: contain;
  }
  .coding .cloud2 {
    width: 10%;
    height: 100px;
    position: absolute;
    top: 20%;
    right: 10%;
    /* opacity: 0.5; */
    animation: cloud 1.5s ease infinite;
  }
  .coding .cloud2 img {
    width: 100%;
    height: 100px;
    object-fit: contain;
  }
  .coding .cloud3 {
    width: 10%;
    height: 100px;
    position: absolute;
    top: 0px;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 30px;
    /* opacity: 0.5; */
    animation: cloud 1.5s ease infinite;
  }

  .coding .cloud3 img {
    width: 100%;
    height: 100px;
    object-fit: contain;
  }
  .coding .cloud4 {
    width: 10%;
    height: 100px;
    position: absolute;
    top: 70%;
    right: 10%;
    /* opacity: 0.5; */
    animation: cloud 1.5s ease infinite;
  }
  .coding .cloud4 img {
    width: 100%;
    height: 100px;
    object-fit: contain;
  }
  /*container3
  sian*/
  .sian {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .sian h2 {
    color: #6479ff;
    position: absolute;
    left: 10%;
    top: 5%;
  }
  .sian .sianimg div {
    width: 30%;
    height: 700px;
    position: absolute;
    top: 0%;

    /* transform: translate(-50%, -50%); */
  }

  .sian .sianimg div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .sian .sianimg .movi {
    /* display: none; */
    left: 0px;
  }
  .sian .sianimg .goung {
    /* display: none; */
    right: 0px;
  }
  .sian .sianimg .car {
    /* display: none; */
    right: 35%;
  }
  .sian .cloud div {
    width: 10%;
    height: 100px;
    /* opacity: 0.5; */
    animation: cloud 1.5s ease infinite;
  }
  .sian .cloud .cloud1 {
    position: absolute;
    top: 1%;
    left: 35%;
  }
  .sian .cloud .cloud2 {
    position: absolute;
    top: 23%;
    right: 10%;
    display: none;
  }
  .sian .cloud .cloud3 {
    position: absolute;
    top: 50%;
    left: 10%;
    display: none;
  }
  .sian .cloud .cloud4 {
    position: absolute;
    top: 65%;
    right: 10%;
    display: none;
  }
  .sian .cloud .cloud5 {
    position: absolute;
    top: 85%;
    left: 5%;
    display: none;
  }
  .sian .cloud .cloud6 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: none;
  }
  .sian .cloud div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .sian .movieplan {
    position: absolute;
    bottom: 5%;
    right: 44%;
    background-color: #ccd8ff;
    width: 20%;
    height: 5%;
    font-size: 1.1rem;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 8px;
  }
  .sian .textbookplan {
    position: absolute;
    bottom: 5%;
    right: 0%;
    background-color: #ccd8ff;
    width: 20%;
    height: 5%;
    font-size: 1.1rem;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 8px;
  }
  .sian .carplan {
    position: absolute;
    bottom: 5%;
    right: 22%;
    background-color: #ccd8ff;
    width: 20%;
    height: 5%;
    font-size: 1.1rem;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 8px;
  }

  /*container4
  aiall*/
  .aiall {
    background-color: #fff;
    width: 100%;
    height: 100vh;
    position: relative;
  }
  .aiall h2 {
    color: #6479ff;
    position: absolute;
    top: 15%;
    left: 15%;
  }
  .aiall .cloud1 {
    width: 15%;
    height: 150px;
    margin-left: 10px;
    animation: cloud 1.5s ease infinite;
  }
  .aiall .cloud1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .aiall .cloud2 {
    width: 15%;
    height: 150px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    animation: cloud 1.5s ease infinite;
  }
  .aiall .cloud2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .upai {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 0px auto;
    gap: 10px;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
  }
  .upai li {
    width: 35%;
    height: 400px;
    transition: 1s;
  }
  .upai li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .downai {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 50px auto;
    gap: 10px;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translateX(-50%);
  }
  .downai li {
    width: 35%;
    height: 400px;
    transition: 1s;
  }
  .downai li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  /* footer */
  footer {
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
  }
  footer .bluebox {
    width: 90%;
    height: 80%;
    background-color: #e0e8ff;
    margin: 0px auto;
    border-radius: 100px 0px 100px 0px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%) scale(0);
  }
  footer .whitebox {
    width: 85%;
    height: 90%;
    background-color: #fff;
    margin: 0px auto;
    border-radius: 100px 0px 100px 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  footer h2 {
    font-size: 10px;
    font-weight: normal;
    margin: 50px 0px;
  }
  footer .line1 {
    width: 100%;
    height: 3px;
    background-color: #ccd8ff;
  }
  footer .line2 {
    width: 100%;
    height: 3px;
    background-color: #ccd8ff;
    margin-top: 10px;
    position: absolute;
    bottom: 15%;
  }

  footer .mailbox {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 10px;
  }
  footer .callbox {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 10px;
  }
  footer .instabox {
    display: flex;
    gap: 10px;
    font-size: 10px;
  }
  footer .all {
    position: absolute;
    top: 50%;
    left: 10px;
    /* font-size: 1.5rem;*/
  }
  footer .rightbox {
    position: absolute;
    right: 10px;
    bottom: -10%;
    width: 60%;
    height: 270px;
  }
  footer .rightbox img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  footer ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* margin: 50px 0px; */
    position: absolute;
    bottom: 5%;
  }
  footer ul li {
    width: 15%;
    height: 80px;
    animation: cloud 1.5s ease infinite;
    /* opacity: 0.5; */
  }
  footer ul li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /*visual*/
  #visual {
    width: 100%;
    height: 100vh;
  }
  #visual ul {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 50px auto;
  }
  #visual ul li div {
    /* border: 1px solid red; */
    width: 70%;
    height: 100px;
    /* opacity: 0.5; */
    animation: cloud 1.5s ease infinite;
  }
  @keyframes cloud {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-8%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  #visual ul li div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
  }
  #visual .portfolio {
    background-color: rgba(255, 255, 255, 0.5);
    width: 70%;
    margin: 50px auto;
    height: 50%;
    border-radius: 100px 0px 100px 0px;
    color: #7d8eff;
    text-align: center;
    transform: scale(0);
  }
  #visual .portfolio h2 {
    font-size: 7rem;
    font-weight: 540;
    letter-spacing: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
  }
  #visual .portfolio p {
    /* font-size: 20px; */
    font-weight: 550;
  }
  #visual .mainme {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translateX(-50%);
    /* border: 1px solid red; */
    width: 50%;
    height: 500px;
    transform: scale(0);
  }
  #visual .mainme img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  /*container*/
  /*container1
  self*/
  .self {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: relative;
  }
  .self .profil {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .self .profil .left {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
  .self .profil .left .me {
    /* border: 1px solid red; */
    width: 50%;
    height: 350px;
    margin-top: 50px;
  }
  .self .profil .left .me img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .self .profil .left .text {
    background-color: #ccd8ff;
    width: 70%;
    height: 30%;
    border-radius: 50px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding-left: 30px;
  }
  .self .profil .left .text h2 {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: #5d72ff;
  }
  .self .profil .left .text span {
    color: #9eb2f6;
    font-size: 1.5rem;
  }
  .self .profil .left .text p {
    font-size: 1.5rem;
    margin: 5px 0px;
  }
  .self .profil .right {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
  }
  .self .profil .right p {
    font-size: 1.2rem;
    margin: 30px 0px;
  }
  .self .profil .right span {
    font-size: 1.5rem;
    color: #5d72ff;
  }
  .self .profil .right .skil {
    font-size: 1.5rem;
    color: #5d72ff;
    margin: 30px 0px;
  }
  .self .profil .right ul {
    width: 40%;
    display: flex;
    height: 100px;
    margin: 30px 0px;
    /* gap: 20px; */
  }
  .self .profil .right ul li {
    width: calc(100% / 3);
    height: 100%;
  }
  .self .profil .right ul li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .self .mainme {
    width: 35%;
    height: 400px;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  .self .mainme img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .self .cloud {
    width: 10%;
    height: 100px;
    position: absolute;
    animation: cloud 1.5s ease infinite;
  }
  .self .cloud1 {
    top: 10px;
    left: 10px;
  }
  .self .cloud2 {
    top: 40%;
    right: 10%;
  }
  .self .cloud3 {
    top: 50%;
    left: 40%;
    transform: translateY(-50%);
  }
  .self .cloud img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .self .line {
    width: 38%;
    height: 3px;
    background-color: #ccd8ff;
    position: absolute;
    top: 57%;
    left: 0px;
  }
  #container .self .leftwhitebox {
    width: 50%;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  #container .self .rightwhitebox {
    width: 50%;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 3;
  }
  /*container2
  coding*/
  .coding {
    background-image: url(../img/홈페이지\ 소개\ 배경.png);
    /* background-repeat: no-repeat repeat; */
    background-size: cover;
    width: 100%;
    color: #4459e5;
    position: relative;
    text-align: left;
  }
  .coding .clinic {
    display: flex;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 70%;
    height: 700px;
    margin: 100px auto;
    border-radius: 50px 0px 50px 0px;
    align-items: center;
    position: sticky;
    top: 0px;
  }
  .coding .intro {
    width: 45%;
    height: 400px;
    display: flex;
  }
  .coding .intro img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .coding .desc {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    /* text-align: center; */
  }
  .coding .desc h2 {
    font-size: 1.7rem;
    margin: 50px 0px;
    color: #374182;
  }
  .coding .desc p {
    font-size: 1.2rem;
    color: #000;
  }
  .coding .downtext ul {
    display: flex;
    gap: 10px;
    justify-content: right;
    color: #000;
  }
  .coding .downtext ul li {
    width: 50px;
    height: 50px;
  }
  .coding .downtext ul li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .coding .downtext .click {
    display: flex;
    gap: 20px;
    justify-content: right;
    margin-top: 50px;
    align-items: center;
  }
  .coding .downtext .click .page {
    color: #000;
    background-color: #ccd8ff;
    padding: 10px;
    border-radius: 10px;
  }
  .coding .downtext .click .right p {
    margin-bottom: 20px;
  }
  .coding .downtext .click .right .plan {
    color: #000;
    background-color: #ccd8ff;
    padding: 7px;
    border-radius: 10px;
  }
  /* .coding .desc a {
    display: block;
  } */
  .coding .trip {
    display: flex;
    gap: 20px;
    background-color: rgba(255, 255, 255);
    width: 70%;
    height: 700px;
    margin: 50px auto;
    border-radius: 50px 0px 50px 0px;
    align-items: center;
    position: sticky;
    top: 0px;
  }
  .coding .jpuppet {
    display: flex;
    gap: 20px;
    background-color: #e5ebff;
    width: 70%;
    height: 700px;
    margin: 50px auto;
    border-radius: 50px 0px 50px 0px;
    align-items: center;
    position: sticky;
    top: 0px;
  }
  .coding a {
    display: block;
    width: fit-content;
    margin: 0 auto;
  }
  .coding .cloud1 {
    width: 10%;
    height: 100px;
    position: absolute;
    top: 0px;
    /* opacity: 0.5; */
    animation: cloud 1.5s ease infinite;
  }

  .coding .cloud1 img {
    width: 100%;
    height: 100px;
    object-fit: contain;
  }
  .coding .cloud2 {
    width: 10%;
    height: 100px;
    position: absolute;
    top: 20%;
    right: 10%;
    /* opacity: 0.5; */
    animation: cloud 1.5s ease infinite;
  }
  .coding .cloud2 img {
    width: 100%;
    height: 100px;
    object-fit: contain;
  }
  .coding .cloud3 {
    width: 10%;
    height: 100px;
    position: absolute;
    top: 0px;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 30px;
    /* opacity: 0.5; */
    animation: cloud 1.5s ease infinite;
  }

  .coding .cloud3 img {
    width: 100%;
    height: 100px;
    object-fit: contain;
  }
  .coding .cloud4 {
    width: 10%;
    height: 100px;
    position: absolute;
    top: 70%;
    right: 10%;
    /* opacity: 0.5; */
    animation: cloud 1.5s ease infinite;
  }
  .coding .cloud4 img {
    width: 100%;
    height: 100px;
    object-fit: contain;
  }
  /*container3
  sian*/
  .sian {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .sian h2 {
    color: #6479ff;
    position: absolute;
    left: 20%;
    top: 5%;
  }
  .sian .sianimg div {
    width: 450px;
    height: 800px;
    position: absolute;
    top: 0%;
    z-index: 2;
    /* transform: translate(-50%, -50%); */
  }

  .sian .sianimg div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .sian .sianimg .movi {
    /* display: none; */
    left: 0px;
  }
  .sian .sianimg .goung {
    /* display: none; */
    right: 0px;
  }
  .sian .sianimg .car {
    /* display: none; */
    right: 27%;
  }
  .sian .cloud div {
    width: 150px;
    height: 100px;
    /* opacity: 0.5; */
    animation: cloud 1.5s ease infinite;
  }
  .sian .cloud .cloud1 {
    position: absolute;
    top: 10%;
    left: 5%;
  }
  .sian .cloud .cloud2 {
    position: absolute;
    top: 23%;
    right: 10%;
  }
  .sian .cloud .cloud3 {
    position: absolute;
    top: 50%;
    left: 10%;
  }
  .sian .cloud .cloud4 {
    position: absolute;
    top: 65%;
    right: 10%;
  }
  .sian .cloud .cloud5 {
    position: absolute;
    top: 85%;
    left: 5%;
  }
  .sian .cloud .cloud6 {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  .sian .cloud div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .sian .movieplan {
    position: absolute;
    top: 0%;
    right: 32%;
    background-color: #ccd8ff;
    width: 15%;
    height: 5%;
    font-size: 1.1rem;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
  }
  .sian .textbookplan {
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: #ccd8ff;
    width: 15%;
    height: 5%;
    font-size: 1.1rem;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
  }
  .sian .carplan {
    position: absolute;
    top: 0%;
    right: 16%;
    background-color: #ccd8ff;
    width: 15%;
    height: 5%;
    font-size: 1.1rem;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
  }

  /*container4
  aiall*/
  .aiall {
    background-color: #fff;
    width: 100%;
    height: 100vh;
    position: relative;
  }
  .aiall h2 {
    color: #6479ff;
    position: absolute;
    top: 13%;
    left: 15%;
  }
  .aiall .cloud1 {
    width: 15%;
    height: 150px;
    margin-left: 10px;
    animation: cloud 1.5s ease infinite;
  }
  .aiall .cloud1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .aiall .cloud2 {
    width: 15%;
    height: 150px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    animation: cloud 1.5s ease infinite;
  }
  .aiall .cloud2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .upai {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 0px auto;
    gap: 10px;
  }
  .upai li {
    width: 30%;
    height: 350px;
    transition: 1s;
  }
  .upai li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .downai {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 50px auto;
    gap: 10px;
  }
  .downai li {
    width: 30%;
    height: 350px;
    transition: 1s;
  }
  .downai li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  /*footer*/
  footer {
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
  }
  footer .bluebox {
    width: 90%;
    height: 80%;
    background-color: #e0e8ff;
    margin: 0px auto;
    border-radius: 100px 0px 100px 0px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%) scale(0);
  }
  footer .whitebox {
    width: 90%;
    height: 90%;
    background-color: #fff;
    margin: 0px auto;
    border-radius: 100px 0px 100px 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  footer h2 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 50px 0px;
  }
  footer .line1 {
    width: 100%;
    height: 3px;
    background-color: #ccd8ff;
  }
  footer .line2 {
    width: 100%;
    height: 3px;
    background-color: #ccd8ff;
    margin-top: 10px;
    position: absolute;
    bottom: 15%;
  }

  footer .mailbox {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  footer .callbox {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  footer .instabox {
    display: flex;
    gap: 10px;
  }
  footer .all {
    position: absolute;
    top: 50%;
    left: 10px;
    /* font-size: 1.5rem; */
  }
  footer .rightbox {
    position: absolute;
    right: 10px;
    bottom: 0px;
    width: 70%;
    height: 350px;
  }
  footer .rightbox img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  footer ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* margin: 50px 0px; */
    position: absolute;
    bottom: 5%;
  }
  footer ul li {
    width: 15%;
    height: 80px;
    animation: cloud 1.5s ease infinite;
    /* opacity: 0.5; */
  }
  footer ul li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
@media (min-width: 1024px) {
  /*visual*/
  #visual {
    width: 100%;
    height: 100vh;
  }
  #visual ul {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 50px auto;
  }
  #visual ul li div {
    /* border: 1px solid red; */
    width: 120px;
    height: 100px;
    /* opacity: 0.5; */
    animation: cloud 1.5s ease infinite;
  }
  @keyframes cloud {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  #visual ul li div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
  }
  #visual .portfolio {
    background-color: rgba(255, 255, 255, 0.5);
    width: 70%;
    margin: 50px auto;
    height: 60%;
    border-radius: 100px 0px 100px 0px;
    color: #7d8eff;
    text-align: center;
    transform: scale(0);
  }
  #visual .portfolio h2 {
    font-size: 12rem;
    font-weight: 540;
    letter-spacing: 30px;
    margin-bottom: 10px;
    padding-top: 20px;
  }
  #visual .portfolio p {
    font-size: 20px;
    font-weight: 550;
  }
  #visual .mainme {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translateX(-50%);
    /* border: 1px solid red; */
    width: 500px;
    height: 500px;
    transform: scale(0);
  }
  #visual .mainme img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  /*container*/
  /*container1
  self*/
  .self {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: relative;
  }
  .self .profil {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .self .profil .left {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
  .self .profil .left .me {
    /* border: 1px solid red; */
    width: 37%;
    height: 450px;
  }
  .self .profil .left .me img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .self .profil .left .text {
    background-color: #ccd8ff;
    width: 60%;
    height: 30%;
    border-radius: 50px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding-left: 50px;
  }
  .self .profil .left .text h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #5d72ff;
  }
  .self .profil .left .text span {
    color: #9eb2f6;
    font-size: 2.3rem;
  }
  .self .profil .left .text p {
    font-size: 1.8rem;
    margin: 5px 0px;
  }
  .self .profil .right {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
  }
  .self .profil .right p {
    font-size: 1.8rem;
    margin: 30px 0px;
  }
  .self .profil .right span {
    font-size: 2.1rem;
    color: #5d72ff;
  }
  .self .profil .right .skil {
    font-size: 2.1rem;
    color: #5d72ff;
    margin: 30px 0px;
  }
  .self .profil .right ul {
    width: 40%;
    display: flex;
    height: 100px;
    margin: 30px 0px;
  }
  .self .profil .right ul li {
    width: calc(100% / 3);
    height: 100%;
  }
  .self .profil .right ul li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .self .mainme {
    width: 30%;
    height: 500px;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  .self .mainme img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .self .cloud {
    width: 7%;
    height: 100px;
    position: absolute;
    animation: cloud 1.5s ease infinite;
  }
  .self .cloud1 {
    top: 10px;
    left: 10px;
  }
  .self .cloud2 {
    top: 30%;
    right: 10%;
  }
  .self .cloud3 {
    top: 50%;
    left: 40%;
    transform: translateY(-50%);
  }
  .self .cloud img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .self .line {
    width: 38%;
    height: 3px;
    background-color: #ccd8ff;
    position: absolute;
    top: 57%;
    left: 0px;
  }
  #container .self .leftwhitebox {
    width: 50%;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  #container .self .rightwhitebox {
    width: 50%;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 3;
  }
  /*container2
  coding*/
  .coding {
    background-image: url(../img/홈페이지\ 소개\ 배경.png);
    /* background-repeat: no-repeat repeat; */
    background-size: cover;
    width: 100%;
    color: #4459e5;
    position: relative;
    text-align: left;
  }
  .coding .clinic {
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    width: 70%;
    height: 700px;
    margin: 100px auto;
    border-radius: 50px 0px 50px 0px;
    align-items: center;
    position: sticky;
    top: 0px;
  }
  .coding .intro {
    width: 45%;
    height: 400px;
    display: flex;
  }
  .coding .intro img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .coding .desc {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    /* text-align: center; */
  }
  .coding .desc h2 {
    font-size: 1.7rem;
    margin: 50px 0px;
    color: #374182;
  }
  .coding .desc p {
    font-size: 1.2rem;
    color: #000;
  }
  .coding .downtext ul {
    display: flex;
    gap: 10px;
    justify-content: right;
    color: #000;
  }
  .coding .downtext ul li {
    width: 50px;
    height: 50px;
  }
  .coding .downtext ul li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .coding .downtext .click {
    display: flex;
    gap: 20px;
    justify-content: right;
    margin-top: 50px;
    align-items: center;
  }
  .coding .downtext .click .page {
    color: #000;
    background-color: #ccd8ff;
    padding: 10px;
    border-radius: 10px;
  }
  .coding .downtext .click .right p {
    margin-bottom: 20px;
  }
  .coding .downtext .click .right .plan {
    color: #000;
    background-color: #ccd8ff;
    padding: 7px;
    border-radius: 10px;
  }
  /* .coding .desc a {
    display: block;
  } */
  .coding .trip {
    display: flex;
    background-color: rgba(255, 255, 255);
    width: 70%;
    height: 700px;
    margin: 50px auto;
    border-radius: 50px 0px 50px 0px;
    align-items: center;
    position: sticky;
    top: 0px;
  }
  .coding .jpuppet {
    display: flex;
    background-color: #e5ebff;
    width: 70%;
    height: 700px;
    margin: 50px auto;
    border-radius: 50px 0px 50px 0px;
    align-items: center;
    position: sticky;
    top: 0px;
  }
  .coding .intro a {
    /* display: block; */
    /* width: fit-content; */
    margin: 0 auto;
    text-align: center;
  }
  .coding .plan a {
    /* display: block; */
    /* width: fit-content; */
    margin: 0 auto;
    text-align: center;
  }
  .coding .cloud1 {
    width: 10%;
    height: 100px;
    position: absolute;
    top: 0px;
    /* opacity: 0.5; */
    animation: cloud 1.5s ease infinite;
  }

  .coding .cloud1 img {
    width: 100%;
    height: 100px;
    object-fit: contain;
  }
  .coding .cloud2 {
    width: 10%;
    height: 100px;
    position: absolute;
    top: 20%;
    right: 10%;
    /* opacity: 0.5; */
    animation: cloud 1.5s ease infinite;
  }
  .coding .cloud2 img {
    width: 100%;
    height: 100px;
    object-fit: contain;
  }
  .coding .cloud3 {
    width: 10%;
    height: 100px;
    position: absolute;
    top: 0px;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 30px;
    /* opacity: 0.5; */
    animation: cloud 1.5s ease infinite;
  }

  .coding .cloud3 img {
    width: 100%;
    height: 100px;
    object-fit: contain;
  }
  .coding .cloud4 {
    width: 10%;
    height: 100px;
    position: absolute;
    top: 70%;
    right: 10%;
    /* opacity: 0.5; */
    animation: cloud 1.5s ease infinite;
  }
  .coding .cloud4 img {
    width: 100%;
    height: 100px;
    object-fit: contain;
  }
  /*container3
  sian*/
  .sian {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .sian h2 {
    color: #6479ff;
    position: absolute;
    left: 10%;
    top: 10%;
    z-index: 2;
  }
  .sian .sianimg div {
    width: 450px;
    height: 800px;
    position: absolute;
    top: 60%;

    /* transform: translate(-50%, -50%); */
  }

  .sian .sianimg div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .sian .sianimg .movi {
    /* display: none; */
    left: 20%;
  }
  .sian .sianimg .goung {
    /* display: none; */
    right: 20%;
    z-index: 2;
  }
  .sian .sianimg .car {
    /* display: none; */
    right: 38%;
  }
  .sian .cloud div {
    width: 150px;
    height: 100px;
    /* opacity: 0.5; */
    animation: cloud 1.5s ease infinite;
  }
  .sian .cloud .cloud1 {
    position: absolute;
    top: 10%;
    left: 10%;
  }
  .sian .cloud .cloud2 {
    position: absolute;
    top: 23%;
    right: 20%;
  }
  .sian .cloud .cloud3 {
    position: absolute;
    top: 50%;
    left: 15%;
  }
  .sian .cloud .cloud4 {
    position: absolute;
    top: 65%;
    right: 15%;
  }
  .sian .cloud .cloud5 {
    position: absolute;
    top: 85%;
    left: 5%;
  }
  .sian .cloud .cloud6 {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  .sian .cloud div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .sian .movieplan {
    position: absolute;
    top: 40%;
    right: 10%;
    background-color: #ccd8ff;
    width: 8%;
    height: 5%;
    font-size: 1.1rem;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
  }
  .sian .textbookplan {
    position: absolute;
    top: 54%;
    right: 10%;
    background-color: #ccd8ff;
    width: 8%;
    height: 5%;
    font-size: 1.1rem;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
  }
  .sian .carplan {
    position: absolute;
    top: 47%;
    right: 10%;
    background-color: #ccd8ff;
    width: 8%;
    height: 5%;
    font-size: 1.1rem;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
  }
  /*container4
  aiall*/
  .aiall h2 {
    color: #6479ff;
    position: absolute;
    top: 10%;
    left: 15%;
  }
  .aiall {
    background-color: #fff;
    width: 100%;
    height: 100vh;
    position: relative;
  }
  .aiall .cloud1 {
    width: 150px;
    height: 150px;
    margin-left: 10px;
    animation: cloud 1.5s ease infinite;
  }
  .aiall .cloud1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .aiall .cloud2 {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    animation: cloud 1.5s ease infinite;
  }
  .aiall .cloud2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .upai {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 0px auto;
  }
  .upai li {
    width: 250px;
    height: 350px;
    transition: 1s;
  }
  .upai li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .downai {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 50px auto;
  }
  .downai li {
    width: 250px;
    height: 350px;
    transition: 1s;
  }
  .downai li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /*footer*/
  footer {
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
  }
  footer .bluebox {
    width: 90%;
    height: 80%;
    background-color: #e0e8ff;
    margin: 0px auto;
    border-radius: 100px 0px 100px 0px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%) scale(0);
  }
  footer .whitebox {
    width: 95%;
    height: 90%;
    background-color: #fff;
    margin: 0px auto;
    border-radius: 100px 0px 100px 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  footer h2 {
    font-size: 2rem;
    font-weight: normal;
    /* margin: 50px 0px; */
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
  }
  footer .line1 {
    width: 100%;
    height: 3px;
    background-color: #ccd8ff;
    position: absolute;
    top: 10%;
  }
  footer .line2 {
    width: 100%;
    height: 3px;
    background-color: #ccd8ff;
    margin-top: 10px;
    position: absolute;
    bottom: 10%;
  }

  footer .mailbox {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  footer .callbox {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  footer .instabox {
    display: flex;
    gap: 10px;
  }
  footer .all {
    position: absolute;
    top: 50%;
    left: 20%;
    font-size: 1.5rem;
  }
  footer .rightbox {
    position: absolute;
    right: 10%;
    bottom: 0px;
    z-index: 2;
  }
  footer ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 50px 0px;
    position: absolute;
    bottom: -20px;
  }
  footer ul li {
    width: 150px;
    height: 80px;
    animation: cloud 1.5s ease infinite;
    /* opacity: 0.5; */
  }
  footer ul li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
